.header-container {
    height: 100vh; 
    max-height: 900px;
    min-height: 750px;
    background: url('../../../assets/DowntownTulsa.webp') no-repeat center center fixed;
    background-size: cover;
}

.header-container .overlay {
    height: 100%;
    background-color: rgba(33, 37, 41, 0.45);
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}