#consultation {
  padding-right: 50px;
  padding-left: 50px;
}


.has-bg-overlay {
  position: relative;
}

.has-bg-overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://tinyurl.com/f56btvbw) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
  opacity: 0.3;
}

.has-bg-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #343a40;
  z-index: -2;
}

.consult-title {
  font-size: 4rem;
}
